*{
    box-sizing : border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url("../font/PyeongChangPeace-Bold.ttf") format('truetype');
}
/*font-family:"hompage/font/PyeongChangPeace-Bold.ttf";*/

header {
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 35px;
    max-width: 1500px;
    color : rgb(231, 189, 207);
    border-radius: 20px;
    font-family:'PyeongChangPeace-Bold';
    border:8px solid rgb(231, 210, 219);

}
nav{ /*카테고리*/
    float: left;
    width: 250px;
    height: 900px;
    background: rgb(255, 255, 255);
   
    border-radius: 20px;
    border: 2px solid rgb(231, 210, 219);
    

}
nav ul{
    color: rgb(231, 210, 219);
    padding-right: 2px;

}
nav ul button{
    border: none;
    background-color: #fff;
    cursor: pointer;
    list-style-type: none;
    padding-top: 10px;
    padding : 10px;
    margin-top: 30px;
    margin-bottom :20px;
    text-align: left;
    border-radius: 10px;
    

} 
/*
button:hover{
    background-color: rgb(231, 210, 219);
    box-shadow: 2px 2px 5px rgba(70, 41, 68, 0.5);

}
*/

article{
    float: left;
    width : 70%;
    background-color: #f1f1f1;
    max-height: 1800px;
    padding : 20px;
}
.post {
    float: center;
    list-style-type: none;
    border: 1px solid rgb(231, 210, 219);
    margin-left: 20px;
    padding-bottom: 30px;
    border: 2px solid rgb(231, 210, 219);
    padding-left: 40px;
    border-radius: 10px;
    text-align: center; 
    

}
.posts {
    float: center;
    list-style-type: none;
    border: 1px solid rgb(231, 210, 219);
    margin-left: 20px;
    padding-bottom: 30px;
    border: 2px solid rgb(231, 210, 219);
    padding-left: 40px;
    border-radius: 10px;
    text-align: center; 

}
section::after {  /*정돈 끝났으면 이제 시작할게*/
    content:"";
    display: table;
    clear: both;
}
footer{
    /* background-color: #220f46;*/
    background-color: rgb(255, 255, 255);
    padding : 10px;
    text-align: center;
    color : white;
    max-width: 1500px;
    margin-left: 10%;
    
    
}
@media(max-width:600px){
    nav,article{
        width : 100%;
        height: auto;
    }

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}
#container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
}
button[type="submit"]{
background-color: #111111;
color: #fff;
border: none;
padding:10px 20px;
font-size:  18px;
cursor: pointer;
width:150px;
height:40px;
}
.delete-button {
background-color: #5e5e5e;
color: #fff;
border: none;
padding: 10px;
cursor: pointer;
}
input[type="text"], textarea{ /*질문하기 내용 적는 창*/
width: 100%;
padding:  10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 5px;
margin: 5px 0;
}


