*{
    box-sizing : border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}
header {
    background-color: rgb(98, 119, 126);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color : whitesmoke;

}
nav{
    float: left;
    width: 30%;
    height: 900px;
    background: #accbe1;
    padding: 20px;

}
nav ul li{
    list-style-type: none;
    padding : 10px;
    text-align: left;

}

article{
    float: left;
    width : 70%;
    background-color: #f1f1f1;
    height: 900px;
    padding : 20px;
}
.post {
    list-style-type: none;
    border: 1px solid rgb(177, 177, 177);
    margin-left: 10px;
    padding-bottom: 30px;
    border: 1px solid #818181;
    padding-left: 10px;

}
section::after {  /*정돈 끝났으면 이제 시작할게*/
    content:"";
    display: table;
    clear: both;
}
footer{
    /* background-color: #220f46;*/
    background :linear-gradient(45deg,rgb(0, 0, 0),rgb(77, 76, 114)); /*시작할 색상 정하기*/
    padding : 10px;
    text-align: center;
    color : white;
    
}
@media(max-width:600px){
    nav,article{
        width : 100%;
        height: auto;
    }

}



